@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

label,
p,
h2,
h3,
h4,
h5,
h6,
select,
input,
a {
  margin: 0;
  color: #17255e;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
  color: #17255e;
  font-family: "Roboto Serif", serif;
  font-weight: 700;
}

span {
  font-weight: 400;
  color: #17255e;
}

body {
  margin: 1rem;
}

.messages {
  height: 300px;
  overflow: scroll;
}
